img {
	max-width: 100%;
  	height: auto;
 	width: auto;
 	display: block;
  margin-left: auto;
  margin-right: auto;
}

#div1{
	margin: auto;
  	width: 30%;
	height: 30%;
	position: center;
	transition: width 1s;
	transition-timing-function: linear;
	transition: height .5s;
	transition-timing-function: linear;
}

#div1:hover {
	margin: auto;
  	width: 40%;
	height: 40%;
	position: center;
	transition: width 1s;
	transition-timing-function: linear;
	transition: height .5s;
	transition-timing-function: linear;
}



@media (max-width: 3000px) { 
	body{
		background-color: black;
		background-size: cover;
	}
}

	h1 {
		font-family: 'futura';
		
		text-align: center;
	}

	h2 {
		font-family: 'futura';
	
		text-align: center;
	}


